@media print {
  html,
  body {
    padding-top: 0 !important;
    overflow: auto !important;
    height: auto !important;
  }
  iframe,
  .titlebar,
  .app-container,
  .progress-bar,
  .popover,
  .markdown-embed-link {
    display: none !important;
  }
  body > :not(.print) {
    display: none !important;
  }
  .print .markdown-preview-view {
    -webkit-print-color-adjust: exact;
    color: initial;
  }
  .print .markdown-preview-view mark {
    color: initial;
  }
  .print .markdown-preview-view .frontmatter-container {
    display: none;
  }
  .print .markdown-preview-view .markdown-embed-content {
    max-height: none;
    overflow: visible;
  }
  .print .markdown-preview-view .callout-content {
    display: inherit !important;
  }
  .print .external-link {
    background: none;
    padding-right: 0;
  }
  * {
    text-shadow: none !important;
  }
  webview {
    display: none;
  }
}

@media print {
  .theme-dark {
    --highlight-mix-blend-mode: darken;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  text-rendering: optimizeLegibility;
  font-family: var(--font-interface);
  line-height: var(--line-height-tight);
  font-size: var(--font-ui-medium);
  background-color: var(--background-primary);
  color: var(--text-normal);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body.is-translucent {
  background-color: transparent;
}
body {
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}
body [contenteditable='true'],
body [contenteditable=''] {
  user-select: text;
  -webkit-user-select: text;
}
body.is-grabbing,
body.is-grabbing *:not(.workspace-leaf-resize-handle) {
  cursor: -moz-grabbing !important;
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}
body.is-grabbing iframe,
body.is-grabbing webview {
  pointer-events: none;
}
