.note {
  // border-top: 2px solid var(--color-base-10);
  opacity: 1;
  transition: opacity var(--anim-duration-fast) ease-in-out;
  position: relative;

  // Header note
  & .frontmatter-container {
    & .frontmatter-section:nth-child(3) {
      display: none;
    }
    & .frontmatter-section:nth-child(2) {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      border-bottom: 1px dashed var(--color-base-25);

      & .frontmatter-section-label {
        display: none;
      }
      & .tag:not(.token) {
        background-color: var(--color-base-40);
        border: none;
        color: var(--color-base-25);
        font-size: 14px;
        padding: 0.2rem 0.7rem;
        display: inline-block;
        cursor: pointer;
        border-radius: 16px;
        opacity: 0.8;
        transition: opacity var(--anim-duration-fast) ease-in-out;
      }
      .tag:not(.token):hover {
        opacity: 1;
      }
      .tag[href^='#obsidian'] {
        background-color: var(--color-purple);
      }
      .tag[href^='#important'] {
        background-color: var(--color-red);
      }
      .tag[href^='#complete'] {
        background-color: var(--color-green);
      }
      .tag[href^='#progress'] {
        background-color: var(--color-blue);
      }
      .tag[href^='#todo'] {
        background-color: var(--color-yellow);
      }
    }

	}
  & h1 {
    border-bottom: 1px solid var(--color-base-10);
    color: var(--color-base-40);
		font-family: 'Serif';
		font-size: 3rem;
  }

	& h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--color-blue);
		font-weight: 600;
		font-size: 1.5rem;
	}

	& h2 {
		font-size: 2rem;
		color: var(--color-purple);
	}

	& h3 {
		font-size: 1.8rem;
		color: var(--color-red);
	}
  & h4 {
		font-size: 1.5rem;
		color: var(--color-green);
	}
	& h5 {
		font-size: 1.2rem;
		color: var(--color-pink);
	}
  & h6 {
		font-size: 1.1rem;
		color: var(--color-orange);
	}


	

	& p::nth-child(1){
		text-align: right;
		border-right: 4px solid var(--color-base-10);
	}

  & p {
    position: relative;
    padding: 0.5rem;

    &:hover::before {
      position: absolute;
      content: '';
      background: var(--color-base-10);
      width: 0.1%;
      height: 100%;
      top: 0;
      left: -2rem;
    }
  }

  & a:not(.tags) {
    color: var(--color-yellow);
    text-decoration: none;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--color-yellow);
    transition: all var(--anim-duration-moderate) ease-in-out;

    &:hover {
      text-decoration: none;
      background-color: var(--color-yellow-rgb);
      color: var(--color-base-10);
      border-radius: 16px;
      border: 2px solid var(--color-yellow);
      padding: 0.2rem 0.5rem;
    }
  }

  & mark {
    color: var(--color-base-50);
    background: transparent;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid var(--color-base-25);
    padding: 0 0.5rem;
  }

  & em {
    font-family: map-get($fonts, 'serif');
    font-style: italic;
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    color: var(--color-yellow);
    font-weight: 600;
  }

  &:hover:focus {
    opacity: 1;
    border-top: 1px solid var(--color-bg-note);

    // &::after {
    //   position: absolute;
    //   content: '';
    //   width: 100%;
    //   height: 20px;
    //   top: 0;
    //   left: 0;
    //   background-color: var(--color-base-10);
    //   background-image: $gradient-bottom;
    // }
  }
}
