.frontmatter-container {
	border-bottom: 2px solid var(--color-base-10);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	& .frontmatter-container-header {
		display: none;
	}

	& .frontmatter-section {
		display: none;

		&:is(.mod-tags) {
			display: block;

			& .frontmatter-section-label {
				font-size: 2rem;
				color: var(--color-base-30);
			}

			& .tag:not(.token) {
				position: relative;
				min-width: 120px;
				background: var(--color-base-10);
				border-bottom: 2px solid var(--color-base-40);
				text-align: center;
				color: var(--color-base-40);
				padding: 0.3rem 0.8rem;
				cursor: pointer;
				opacity: 0.8;
				transition: opacity var(--anim-duration-fast) ease-in-out;
			}

			.tag:not(.token):hover {
				opacity: 1;
			}

			.tag[href^='#obsidian'] {
				border-bottom: 2px solid var(--color-purple);
			}

			.tag[href^='#important'] {
				border-bottom: 2px solid var(--color-red);
			}

			.tag[href^='#complete'] {
				border-bottom: 2px solid var(--color-green);
			}

			.tag[href^='#progress'] {
				border-bottom: 2px solid var(--color-blue);
			}

			.tag[href^='#todo'] {
				position: relative;
				border-bottom: 2px solid var(--color-yellow);
			}
		}

		&:is(.mod-aliases) {
			display: block;
			order: 3;
		}
	}
}
