.frontmatter-container {
	border-bottom: 2px solid var(--color-gray-40);

	& .frontmatter-container-header {
		display: none;
	}

	& .frontmatter-section {
		display: none;

		&:is(.mod-tags) {
			display: block;
		}

		&:is(.mod-aliases) {
			display: block;
		}
	}
}
