iframe {
  color-scheme: normal;
}

body {
  --font-default: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Inter', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Microsoft YaHei Light', sans-serif;
  --font-monospace-default: Menlo, SFMono-Regular, Consolas, 'Roboto Mono',
    'Source Code Pro', monospace;
  --font-interface-override: '??';
  --font-interface-theme: '??';
  --font-interface: var(--font-interface-override), var(--font-interface-theme),
    var(--default-font, '??'), var(--font-default);
  --font-text-override: '??';
  --font-text-theme: '??';
  --font-text: var(--font-text-override), var(--font-text-theme),
    var(--font-interface);
  --font-monospace-override: '??';
  --font-monospace-theme: '??';
  --font-monospace: var(--font-monospace-override), var(--font-monospace-theme),
    var(--font-monospace-default);
  --font-text-size: 16px;
  --font-mermaid: var(--font-text);
}
